@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
  body * {
    visibility: hidden;
  }

  .print-area,
  .print-area * {
    visibility: visible;
  }

  .print-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    background: white;
  }

  .no-print {
    display: none !important;
  }
}